
class Firebase {
    constructor() {
        this.firebaseConfig = {
            apiKey: "apiKey",
            authDomain: "projectId.firebaseapp.com",
            databaseURL: "https://databaseName.firebaseio.com"
            storageBucket: "bucket",
        };

        this.firebaseApp = firebase.initializeApp(this.firebaseConfig);
    }

    app = () => {
        return this.firebaseApp;
    }

}

var csFirebase = new Firebase();
export default csFirebase;

