/*<color name="primary">#607D8B</color>*/
/*<color name="primary_dark">#455A64</color>*/
/*<color name="primary_light">#CFD8DC</color>*/
/*<color name="accent">#FF5252</color> */
/*<color name="paper">#FFF8E1</color> */
/*<color name="primary_text">#212121</color> */
/*<color name="secondary_text">#727272</color> */
/*<color name="icons">#FFFFFF</color> */
/*<color name="divider">#B6B6B6</color> */
/*<color name="primary_pressed">#FFC107</color> */
/*<color name="ripple">#FFECB3</color> */
/*<color name="accent_pressed">#727272</color> */
/*<color name="character_sheet_field_label_color">#777</color> */
/*<color name="character_sheet_field_text_color">#333</color>*/

@import "components/body.css";
@import "components/nav_drawer.css";
@import "components/sheet.css";

.text-center {
    text-align: center;
}

.attribute {
    display: inline-block;
    width: 80px;
    margin-right: .5em;
}

.hidden {
    display: none;
}

.center-wrap {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}

.sheet-fragment {
    margin: .5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
    width: 300px;
    display: inline-block;
    text-align: start;
    float: left;
}

.alert {
    color: #FF5252;
    margin: .5em;
    padding: .5em;
}

